.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: auto;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.selectbox-wrapper {
  position: relative;
  width: 50% !important;
  background-color: #6e6b6b;
  border-radius: 15px;
}

.close-button {
  position: absolute;
  top: 0;
  left: 7px;
  cursor: pointer;
  background-color: transparent;  
  border: none;
  color: #fff;
}

.paymentVojohat form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.paymentVojohat form > div > select {
  width: 80%;
  text-align: right;
  border: none;
  outline: none;
  height: 40px;
  box-shadow: 2px 4px 7px 2px black;
  border-radius: 23px 7px 23px 7px;
}
